 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 

.result_biga_container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.separator {
    width: 2px;
    background: #ccc;
    height: 100%;
}

body {
  background-color: #F0F0F0;
  font-family: sans-serif;
  padding: 1rem;
  max-width: 500px;
  margin: auto;
}

.validate {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
}

input[type="number"] {
  height: 44px;
  background: #f8f8f8;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-size: 0.95rem;
  margin-bottom: 0.3rem;
}